<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dream On | You can be what you want to be.</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.1.min.js"></script>
    <script src="./js/jquery.autocomplete.min.js"></script>


    <!-- Include the compiled Ratchet CSS -->
    <link href="./css/ratchet.css" rel="stylesheet">

    <!-- Include the compiled Ratchet JS -->
    <script src="./js/ratchet.js"></script>


    <!-- Load in the JavaScript framework and register a callback function when it's loaded -->


    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: 75snkyy0ri7ru6
    </script>
  </head>
  <body>

    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <h1 class="title">Dream On!</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
<style>
form {
  margin-top:35%;
}
</style>
      <!-- <div class="text-center linkedin-button">      
        <script type="IN/Login"  data-size="xlarge"></script>
      </div> -->
      <div id="remote">

<form action="/search">
<input type="text" name="dream" id="autocomplete" placeholder="What do you want to be..."/>
  <button class="btn btn-positive btn-block">See How!</button>
</form>
      <script>
      var countries = [
         { value: 'Software Developer', data: 'Software Developer' },
         // ...
         { value: 'Software Engineer', data: 'Software Engineer' },
         { value: 'Software Consultant', data: 'Software Consultant' },
         { value: 'Senior Software Engineer', data: 'Senior Software Engineer' },
         { value: 'Software Engineer', data: 'Software Engineer' },
         { value: 'Principal Software Engineer', data: 'Principal Software Engineer' },
         { value: 'Software Test Engineer', data: 'Software Test Engineer' }
      ];

      $(document).ready(function () {
          $('#autocomplete').autocomplete({
            lookup: countries,
            onSelect: function (suggestion) {
          }
        }); 
      });
      </script>
      </div>

    </div>

  </body>
</html>
