<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dream On | You can be what you want to be.</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

 <!-- Include the compiled Ratchet CSS -->
    <link href="./css/ratchet.css" rel="stylesheet">
  
    <!-- Include the compiled Ratchet JS -->
    <script src="./js/ratchet.js"></script>



    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
      api_key: 75snkyy0ri7ru6
      onLoad: onLinkedInLoad
      authorize: true
    </script>
    <style>
canvas{
margin-top: 18%;
margin-left: 16%;
}
</style> 
<script src="./js/chart.js"></script>

<script type="text/javascript">

function onLinkedInLoad() {
     // Listen for an auth event to occur
     IN.Event.on(IN, "auth", onLinkedInAuth2);
}
 
function onLinkedInAuth2() {
     // After they've signed-in, print a form to enable keyword searching
     IN.API.Profile("me")
	     .fields("location", "firstName", "lastName", "pictureUrl", "industry")
	     .result(displayProfiles);
	     /*
     var div = document.getElementById("peopleSearchForm");
 
     div.innerHTML = '<h2>Find People on LinkedIn</h2>';
     div.innerHTML += '<form action="javascript:glob.bucketMiles=1000;PeopleSearch();">' +
                      '<input id="keywords" size="30" value="developer" type="text">' +
                      '<input type="submit" value="Search!" /></form>';
		      */
}
 
function displayProfiles(profiles) {
     member = profiles.values[0];
     window.glob = {}
     window.glob.keywords = location.search.split('dream=')[1];
     window.glob.location = member.location;
     window.glob.industry = member.industry;

     glob.bucketMiles=1000;
     PeopleSearch();
     //document.getElementById("myIndustry").innerHTML = "Your Industry is: "+member.industry
}
function EncodeQueryData(data)
{
	   var ret = [];
	      for (var d in data)
		            ret.push(encodeURIComponent(d) + "=" + encodeURIComponent(data[d]));
	         return ret.join("&");
}
function PeopleSearch() {
     // Call the PeopleSearch API with the viewer's keywords
     // Ask for 4 fields to be returned: first name, last name, distance, and Profile URL
     // Limit results to 10 and sort by distance
     // On success, call displayPeopleSearch(); On failure, do nothing.
     var keywords = glob.keywords; // document.getElementById('keywords').value; 
     IN.API.Raw().url("/people-search:(facets:(code,buckets:(code,name,count)))?facets=industry&"+EncodeQueryData({"title": keywords, "postal-code": encodeURIComponent(glob.location.name), "distance": glob.bucketMiles, "count": 10, "sort": "distance"}))
         .result(displayPeopleBuckets)
         .error(function error(e) { /* do nothing */ }
     );
     document.getElementById('info_stuff').innerHTML = "Locating for " + keywords + "s around " + glob.location.name + " ..."
}
 
function displayPeopleBuckets(peopleSearch) {
	document.getElementById('info_stuff').hidden = true
//if(document.getElementById('tableContents'))
//  document.getElementById('tableContents').hidden = true
  document.getElementById('myChart').hidden = false
  document.getElementById('mylist').hidden = false
	glob.peopleSearch = (peopleSearch);
	var colors = ['#FACC00', '#FB9900', '#FB6600', '#FB4800', '#CB0A0A', '#F8F933'];
	var sorted = []
	var list = peopleSearch.facets.values[0].buckets.values
	if (list == undefined) {
		glob.bucketMiles *= 10;
		if(glob.bucketMiles > 10000) {
			alert("I couldnt find someone nearby :(");
			return;
		}
		return PeopleSearch();
	}
	list.sort(function(a,b) {
			a = a.count;
			b = b.count;
		return a > b;
		});
	var data = [];
	minLength = (5 < list.length) ? 5 : list.length;

  category_str = "We found these categories :<br/>";

	for (i = 0; i < minLength; i++) {
		data[data.length] = {value: list[i].count, color: colors[i], label: list[i].name + "," + list[i].code}

    category_str += "<span style='color:"+colors[i]+"'> <b>"+list[i].name+" : </b>" + list[i].count +" results </span><br/>";
	}

// Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");


	var myPieChart = new Chart(ctx).Pie(data);
  document.getElementById('mylist').innerHTML = category_str;
	document.getElementById("myChart").onclick = function(evt) {
		glob.distanceMiles = 1000;
		var activePoints = myPieChart.getSegmentsAtEvent(evt);
		glob.selectedIndustry = activePoints[0].label.split(',')[1];
		loadResults();
  
  document.getElementById('myChart').hidden = true
  document.getElementById('mylist').hidden = true
	}
}

function loadResults1() {
	glob.distanceMiles *= 5;
	loadResults();
}

function loadResults() {
	document.getElementById('info_stuff').hidden = false

		var keywords = glob.keywords; // document.getElementById('keywords').value; 
		     IN.API.PeopleSearch()
			 .fields("firstName", "lastName", "distance", "siteStandardProfileRequest", "industry", "location", "id", "positions", "specialties", "public-profile-url", "picture-url")
			 .params({"title": keywords, "postal-code": encodeURIComponent(glob.location.name), "distance": glob.distanceMiles, "count": 10, 
					 "sort": "connections", "facet": "industry,"+glob.selectedIndustry})
			 .result(displayPeopleSearch)
			 .error(function error(e) { /* do nothing */ }
		     );

}

function rest(i) {
members = glob.members
result = glob.result	    
string = ""
if (result.major.rest.length > 0) {
string += '        <li class="table-view-cell media"> <a class="navigate-right" onclick="swipe('+i+', \'undergrad\')" data-transition="slide-in">'
 
array = result.school.rest[i][1]; //.concat(result.major.graduate[i][1]).sort().reduce(function(a,b){ if (a.indexOf(b) < 0 ) a.push(b); return a; },[]);
			max_length = array.length > 2 ? 2 : array.length;
				for(var k = 0 ; k < max_length; k++) {
					if(members[array[k]].pictureUrl)
          string += '<img class="media-object pull-left" src=' + members[array[k]].pictureUrl + '>'
				}
          string += '<div class="media-body"> Diploma Study <p>' + result.major.rest[i][0] + ' in ' + result.school.graduate[i][0] + '</p> </div> </a> </li>' 
}
return string
}

function swipe(slotno, next) {
if(next == 'graduate')
  document.getElementById('slot'+slotno).innerHTML = graduate(slotno);
else if(next == 'rest')
  document.getElementById('slot'+slotno).innerHTML = rest(slotno);
else
  document.getElementById('slot'+slotno).innerHTML = yayy(slotno);

}
function yayy(i) {
result = glob.result
members = glob.members	    
string = ""
if (result.major.graduate) {
string += '        <li class="table-view-cell media"> <a class="navigate-right" onclick="" data-transition="slide-in">  Yay... you have reached the end!</a> </li>' 
}
return string
}

function graduate(i) {
result = glob.result
members = glob.members	    
string = ""
if (result.major.graduate.length > 0) {
string += '        <li class="table-view-cell media"> <a class="navigate-right" onclick="swipe('+i+', \'rest\')" data-transition="slide-in">'
 
array = result.school.graduate[i][1]; //.concat(result.major.graduate[i][1]).sort().reduce(function(a,b){ if (a.indexOf(b) < 0 ) a.push(b); return a; },[]);
			max_length = array.length > 2 ? 2 : array.length;
				for(var k = 0 ; k < max_length; k++) {
					if(members[array[k]].pictureUrl)
          string += '<img class="media-object pull-left" src=' + members[array[k]].pictureUrl + '>'
				}
          string += '<div class="media-body"> Graduate Study <p>' + result.major.graduate[i][0] + ' in ' + result.school.graduate[i][0] + '</p> </div> </a> </li>' 
}
return string
}

function undergrad(i) {
result = glob.result	    
members = glob.members
string = ""
if (result.major.undergrad.length > 0) {
string += '        <li class="table-view-cell media"> <a class="navigate-right" onclick="swipe('+i+', \'graduate\')" data-transition="slide-in">'
 
array = result.school.undergrad[i][1]; //.concat(result.major.undergrad[i][1]).sort().reduce(function(a,b){ if (a.indexOf(b) < 0 ) a.push(b); return a; },[]);
			max_length = array.length > 2 ? 2 : array.length;
				for(var k = 0 ; k < max_length; k++) {
					if(members[array[k]].pictureUrl)
          string += '<img class="media-object pull-left" src=' + members[array[k]].pictureUrl + '>'
				}
          string += '<div class="media-body"> Undergraduate Study <p>' + result.major.undergrad[i][0] + ' in ' + result.school.undergrad[i][0] + '</p> </div> </a> </li>' 
}
return string
}
function displayPeopleSearch(peopleSearch) {
	document.getElementById('info_stuff').hidden = true

     var div = document.getElementById("peopleSearchResults");
 
     div.innerHTML = "<ul>";
 
     // Loop through the people returned
     var members = peopleSearch.people.values;
     glob.members = members;
     urls = ""
	     i = 0;
     for (var member in members) {
         // Look through result to make name and url.
	     if (members[member].publicProfileUrl)
		     urls += (members[member].publicProfileUrl+"--"+i+",,");
	     /*
         var nameText = members[member].firstName + " " + members[member].lastName;
	 console.log(members[member].siteStandardProfileRequest);
         var url = members[member].publicProfileUrl;
	 var distanceText = members[member].distance
         div.innerHTML += "<li><a href=\"" + url + "\">" + nameText + 
         "</a> is " + distanceText + "</li>"
	 */
	 i++;
     }
	    xmlHttp = new XMLHttpRequest();
	    xmlHttp.open( "GET", '/profile?url='+urls, false );
	    xmlHttp.send( null );
	    result = JSON.parse((xmlHttp.responseText)); 
	    window.glob.result = result
string = ''
string += '<div id="slot0">' + undergrad(0) + '</div>'
string += '<div id="slot1">' + undergrad(1) + '</div>'
   document.getElementById('tableContents').innerHTML = string 
/*
	    if (result.major.undergrad) {
string += '        <li class="table-view-cell media"> <a class="navigate-right" href="./second" data-transition="slide-in">'
 array = result.school.undergrad[0][1].concat(result.major.undergrad[0][1]).sort().reduce(function(a,b){ if (a.indexOf(b) < 0 ) a.push(b); return a; },[]);
			max_length = array.length > 2 ? 2 : array.length;
				for(var k = 0 ; k < max_length; k++) {
					if(members[array[k]].pictureUrl)
          string += '<img class="media-object pull-left" src=' + members[array[k]].pictureUrl + '>'
				}
          string += '<div class="media-body"> Undergraduate Study <p>' + result.major.undergrad[0][0] + ' in ' + result.school.undergrad[0][0] + '</p> </div> </a> </li>' 
   document.getElementById('tableContents').innerHTML = string 

		    var i = 0;
		for(var j = 0 ; j < result.major.undergrad.length; j++) {
			item = result.major.undergrad[j];
			div.innerHTML += "<span>"+item[0]+" -- " + result.school.undergrad[i][0] + "</span>"
			array = result.school.undergrad[i][1].concat(result.major.undergrad[i][1]).sort().reduce(function(a,b){ if (a.indexOf(b) < 0 ) a.push(b); return a; },[]);
			max_length = array.length > 5 ? 5 : array.length;
				for(var k = 0 ; k < max_length; k++) {
					if(members[array[k]].pictureUrl)
						div.innerHTML += "<img class='red' alt='distance: "+members[array[k]].distance+"' src='"+members[array[k]].pictureUrl+"'/>"
				}
			div.innerHTML += "<br/>"
				i++;
				
		}
	    }

	    if (result.major.rest) {
string += '        <li class="table-view-cell media"> <a class="navigate-right" href="./second" data-transition="slide-in">'
 array = result.school.rest[0][1].concat(result.major.rest[0][1]).sort().reduce(function(a,b){ if (a.indexOf(b) < 0 ) a.push(b); return a; },[]);
			max_length = array.length > 2 ? 2 : array.length;
				for(var k = 0 ; k < max_length; k++) {
					if(members[array[k]].pictureUrl)
          string += '<img class="media-object pull-left" src=' + members[array[k]].pictureUrl + '>'
				}
          string += '<div class="media-body"> Diploma Study <p>' + result.major.rest[0][0] + ' in ' + result.school.rest[0][0] + '</p> </div> </a> </li>' 
   document.getElementById('tableContents').innerHTML = string 

		    var i = 0;
		for(var j = 0 ; j < result.major.rest.length; j++) {
			item = result.major.rest[j];
			div.innerHTML += "<span>"+item[0]+" -- " + result.school.rest[i][0] + "</span>"
			array = result.school.rest[i][1].concat(result.major.rest[i][1]).sort().reduce(function(a,b){ if (a.indexOf(b) < 0 ) a.push(b); return a; },[]);
			max_length = array.length > 5 ? 5 : array.length;
				for(var k = 0 ; k < max_length; k++) {
					if(members[array[k]].pictureUrl)
						div.innerHTML += "<img class='red' alt='distance: "+members[array[k]].distance+"' src='"+members[array[k]].pictureUrl+"'/>"
				}
			div.innerHTML += "<br/>"
				i++;
				
		}
	    }
*/
     if (members.length < 10) {
	     document.getElementById('moreResult').hidden = false;
     }
 
     div.innerHTML += "</ul>";
}
</script>
</head>
<body>

  <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
      <a href="./after_login" data-transition="slide-out"><button class="btn btn-link btn-nav pull-left">
<span class="icon icon-left-nav"></span>
    Left
  </button></a>
<a class="icon icon-search pull-right" href="./after_login" data-transition="slide-out"></a>
      <h1 class="title">Dream On!</h1>
    </header>

    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
<canvas id="myChart" width="250" height="250"></canvas>
<div id="myIndustry"></div>
<input type="submit" onclick="loadResults1()" id="moreResult" hidden=true value="Load More!" />
<div id="profiles"></div>

<div id="mylist"></div>

<ul class="table-view" id = "tableContents"></ul>

<script type="IN/Login"></script>
<div id="info_stuff"></div>
<div id="peopleSearchForm"></div>
<div id="peopleSearchResults" style="font-size: 6px"></div>
</div>
</body>
</html
